h1{
    text-align: center;
}
select {
    font-family: "Times New Roman", Times, serif;
    margin-left: 780px;
}
label {
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    margin-left: 680px;
}