h1{
    text-align: center;
}
select {
    font-family: "Times New Roman", Times, serif;
    margin-left: 750px;
}
label {
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    margin-left: 640px;
}