h1{
    text-align: center;
}
select {
    font-family: "Times New Roman", Times, serif;
    margin-left: 780px;
}
label {
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    margin-left: 680px;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table {
    
    border: 1px solid black;
    border-collapse: collapse;
    height: 320px; width: 300px;
}
#dawn {
    margin: 20px;
}