.grid {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
    position: absolute;
    top: 10%;
    left: 40%;
    margin-top: -50px;
    margin-left: -50px;
    border:1px solid 1px
}
.grid div {
    height: 40px;
    width: 40px;
}
.flags {
    background-color: #ffffff;
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    text-align: center;
    line-height: 1.5em;
}
.bomb {
    background-color: orange;
}
.checked{
    background-color: red;
}